//- Base.pug
doctype html
html
  head
    title Rayan's Dance Club
    block scripts
    block style 

  body
    nav#navBar 
        ul 
            div#logo 
                img(src='/static/img/logo.png')
                | RDC
            
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
    block content
    footer#footer
        | Copyright © 2019 RayanDanceClub.com | All right reserved